NEXT_PUBLIC_GMAPS_API_KEY=votre_cle_google_maps

KKIAPAY_PUBLIC_KEY=votre_cle_publique_kkiapay
KKIAPAY_PRIVATE_KEY=votre_cle_privee_kkiapay
KKIAPAY_SECRET=votre_secret_kkiapay
KKIAPAY_SANDBOX=true

ADMIN_USERNAME=admin
ADMIN_PASSWORD=peageplus2026

NODE_ENV=production
